@import '~assets/styles/main.scss';

.card {
  margin: 40px;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.10);
}

.sub-text {
  font-weight: 400;
  font-size: 0.8em;
  color: $light-grey;
}

.profile .btn-success {
  margin-top: 22px;
  padding: 6px 20px;
  font-weight: 500;
  background: $green;
}

.notify {
  padding: 20px 40px;
  background: #ebebeb;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}

@media (max-width: $screen-xs-max) {
}
@media (min-width: $screen-sm-min) {
}
@media (min-width: $screen-md-min) {
}
@media (min-width: $screen-lg-min) {
}
