@import '~assets/styles/main.scss';

img.icon-in-input {
  position: absolute;
  right: 20px;
  top: 7px;
  z-index: 999;
  width: 20px;
}

.sub-text {
  font-weight: 400;
  font-size: 0.6em;
  color: $light-grey;
}

.profile .btn-success,
.kyc .btn-success {
  margin-top: 20px;
  padding: 6px 20px;
  font-weight: 500;
  background: $green;
}

.profile .btn-warning,
.kyc .btn-warning {
  margin-top: 20px;
  padding: 6px 20px;
  font-weight: 500;
  color: $white;
  background: $orange;
}

.notify {
  padding: 20px 20px;
  background: #ebebeb;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  margin: 20px -21px;
}

.round-icon {
  color: white;
  border-radius: 100%;
  font-size: 1em;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

@media (max-width: $screen-xs-max) {
}
@media (min-width: $screen-sm-min) {
  .notify {
    margin: 20px -41px;
    padding: 20px 40px;
  }
}
@media (min-width: $screen-md-min) {
}
@media (min-width: $screen-lg-min) {
}
