@import '~assets/styles/auth-pages.scss';

.tos {
  height: 500px;
  overflow: scroll;
  padding: 10px 20px;
  text-align: justify;
  margin: 0 10px;
}

.custom-control {
  &.custom-checkbox {
    margin-left: auto;
    margin-right: auto;
    color: white;
  }
}

.terms-header {
  padding: 15px 30px;
  background: #dedede;
  text-align: left;
  font-weight: 700;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

@media (max-width: $screen-xs-max) {

}
@media (min-width: $screen-sm-min) {

}
@media (min-width: $screen-md-min) {

}
@media (min-width: $screen-lg-min) {

}
