@import '~assets/styles/main.scss';

.sidebar {
  background-color: $blue-bg;
  font-weight: bold;
  margin-left: -250px;
  transition: margin-left 0.5s ease-in-out;
  position: sticky;
  top: 70px;
  a {
    color: #e4e9ee;
    text-align: left;
    font-weight: normal;
    display: flex;
    align-items: center;
  }
  .nav-link {
    &.active {
      border-left: 5px solid #77cdcc;
      background: #1c4877;
      .img-wrapper {
        padding-left: 15px;
      }
    }
    .nav-text {
      padding-left: 10px;
    }
  }
  .img-wrapper {
    // width: 50px;
    padding: 0 15px 0 20px;
  }
}

@media (max-width: $screen-xs-max) {
}
@media (min-width: $screen-sm-min) {
}
@media (min-width: $screen-md-min) {
  .sidebar {
    margin-left: 0;
  }
}
@media (min-width: $screen-lg-min) {
}
