<div class="dashboard">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-12">
        <img src="~@/assets/images/full-size-login-logo.png" alt="login" width="100%">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h5 class="sub-title mb-3">Crowdvilla Token Sale</h5>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <h6 class="sub-text">
        <a href="/registration">Create a new account</a> |
        <a href="/forgot">Forgot password?</a>
      </h6>
    </div>
  </div>
</div>
