<div class="forget-password">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-12">
        <img src="~@/assets/images/full-size-login-logo.png" alt="login" width="100%">
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3 sub-title">
        <h5 class="mb-3">Forgot your password?</h5>
        <p>
          Enter the email address associated with your account to receive a password reset email
        </p>
      </div>
      <div class="col-12">
        <b-form-group v-bind:state="checkValidEmail">
          <b-input-group>
            <b-input-group-addon>
              <img src="~@/assets/images/full-size-login-email-icon-dark.png" style="max-width:20px;">
            </b-input-group-addon>
            <b-form-input v-model="email" v-bind:state="checkValidEmail" placeholder="Email Address" ref="email" type="text">
            </b-form-input>
          </b-input-group>
          <img src="~@/assets/images/full-size-alert-icon.png" v-if="checkValidEmail == 'invalid'" class="icon-in-input">
          <b-form-feedback>
            <img src="~@/assets/images/full-size-alert-icon-white.png"> Please enter a valid email address</b-form-feedback>
        </b-form-group>
      </div>
    </div>
    <div class="row justify-content-center">
      <Recaptcha v-bind:sitekey="recaptchaKey" v-bind:state="checkValidRecaptcha" v-on:verify="setRecaptcha">
      </Recaptcha>
    </div>
    <div class="row justify-content-center mt-3 mb-3">
      <div class="col-12">
        <b-button size="lg" type="button" v-bind:disabled="checkResetStates()" v-on:click="submit(email, recaptcha)">
          Send instructions
        </b-button>
      </div>
    </div>
    <NeedHelp />
  </div>
</div>
