<b-navbar class="topbar d-none d-lg-flex" v-bind:toggleable="true" toggle-breakpoint="sm" type="dark" variant="info" :sticky.boolean="true">
  <b-navbar-brand href="/"><img src="~@/assets/images/full-size-navbar-logo.png" alt="" class="navbar-logo"></b-navbar-brand>
  <b-nav-toggle target="nav-collapse"></b-nav-toggle>
  <b-collapse is-nav id="nav-collapse">
    <b-navbar-nav class="ml-auto">
      <!-- Enter authentication name -->
      <b-nav-text class="label nav-two-layer">
        <span>
          Christine Lim
        </span>
        <!-- Enter authentication status -->
        <span class="nav-sub-text" v-if="isVerified">
          <i class="fa fa-check success-back round-icon" aria-hidden="true"></i> Verified
        </span>
        <!-- To use if/else -->
        <span class="nav-sub-text" v-if="false">
          <i class="fa fa-ellipsis-h pending-back round-icon" aria-hidden="true"></i> Pending
        </span>
        <span class="nav-sub-text" v-if="!isVerified">
          <i class="fa fa-ellipsis-h grey-back round-icon" aria-hidden="true"></i> Unverified
        </span>
      </b-nav-text>
      <b-nav-item class="dim label logout" v-on:click="signOut">Logout</b-nav-item>
    </b-navbar-nav>
  </b-collapse>
</b-navbar>
