<div class="kyc">
  <b-card no-body>
    <b-tabs class="nav-justified">
      <b-tab title="KYC">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h6>Enter details</h6>
            </div>
            <div class="col-12">
              <b-form-group
                v-bind:feedback="feedbackName(checkValidFName)"
                v-bind:state="checkValidFName"
              >
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-input
                    v-model="firstName"
                    v-bind:state="checkValidFName"
                    placeholder="First Name"
                    ref="firstName"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group
                v-bind:feedback="feedbackName(checkValidMName)"
                v-bind:state="checkValidMName"
              >
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-input
                    v-model="middleName"
                    v-bind:state="checkValidMName"
                    placeholder="Middle Name"
                    ref="middleName"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group
                v-bind:feedback="feedbackName(checkValidLName)"
                v-bind:state="checkValidLName"
              >
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-input
                    v-model="lastName"
                    v-bind:state="checkValidLName"
                    placeholder="Last Name"
                    ref="lastName"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group
                v-bind:feedback="feedbackBirthday(checkValidBirthday)"
                v-bind:state="checkValidBirthday"
              >
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-input
                    v-model="birthday"
                    v-bind:state="checkValidBirthday"
                    placeholder="Birthday"
                    ref="birthday"
                    type="date"
                  >
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-select
                    v-model="birthCountry"
                    v-bind:options="countries"
                  >
                </b-form-select>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-select
                    v-model="nationality"
                    v-bind:options="nationalities"
                  >
                </b-form-select>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-select
                    v-model="residenceCountry"
                    v-bind:options="countries"
                  >
                </b-form-select>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-select
                    v-model="gender"
                    v-bind:options="genders"
                  >
                </b-form-select>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group
                v-bind:feedback="feedbackName(checkValidLName)"
                v-bind:state="checkValidLName"
              >
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-input
                    v-model="address"
                    v-bind:state="checkValidLName"
                    placeholder="Address"
                    ref="address"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-select
                    v-model="idType"
                    v-bind:options="idTypes"
                  >
                </b-form-select>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group
                v-bind:feedback="feedbackName(checkValidLName)"
                v-bind:state="checkValidLName"
              >
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-input
                    v-model="idNumber"
                    v-bind:state="checkValidLName"
                    placeholder="ID Number"
                    ref="idNumber"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-file
                    choose-label="Identification"
                    v-model="identification"
                  >
                  </b-form-file>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-file
                    choose-label="Selfie"
                    v-model="selfie"
                  >
                  </b-form-file>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-file
                    choose-label="Proof of Residence"
                    v-model="residence"
                  >
                  </b-form-file>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-file
                    choose-label="Signed Form"
                    v-model="signedform"
                  >
                  </b-form-file>
                </b-input-group>
              </b-form-group>
            </div>
          </div>
          <div class="row justify-content-center">
            <b-button
              size="lg"
              variant="primary"
              type="button"
              v-bind:disabled="checkKYCStates()"
              v-on:click="submit({
                                 firstName,
                                 middleName,
                                 lastName,
                                 birthday,
                                 birthCountry,
                                 nationality,
                                 residenceCountry,
                                 gender,
                                 address,
                                 identification,
                                 selfie,
                                 residence,
                                 signedform
                                })"
            >
              Submit
            </b-button>
          </div>
          <div class="row justify-content-center">
            <h6>Need help? <a href="#">support@reidao.io</a></h6>
          </div>
        </div>
      </b-tab>
    </b-tabs>
  </b-card>
</div>
