<div class="mailchimp">
  <div class="container">
    <form action="//reidao.us13.list-manage.com/subscribe/post?u=19ee2d5c3ec6d0574a670a5c7&amp;id=854741328f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <b-input-group>
        <i v-bind:class="checkValidEmail" class="fa icon" />
        <b-form-fieldset>
          <b-form-input v-model="email" type="email" placeholder="E-mail address" name="EMAIL" class="form-control" id="mce-EMAIL"></b-form-input>
        </b-form-fieldset>
        <b-input-group-button slot="right">
          <b-button v-bind:disabled="disabled" size="lg" variant="primary" type="submit" name="subscribe">
            Get updates
          </b-button>
        </b-input-group-button>
      </b-input-group>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_19ee2d5c3ec6d0574a670a5c7_854741328f" tabindex="-1" value=""></div>
    </form>
  </div>
</div>
