<div class="kyc">
  <div class="profile">
    <b-card class="text-left">
      <h5>
        Account Details
      </h5>
      <b-row class="mt-4">
        <b-col cols="12" sm="6">
          <b-row class="mb-3">
            <b-col>
              Email Address
              <b-form-input type="email" disabled v-model="email"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="mb-3">
            <b-col>
              Old Password
              <b-form-group
                v-bind:state="checkOldPassword"
                style="width:100%;"
              >
                <b-input-group>
                  <v-popover
                    trigger="manual"
                    v-bind:open="checkOldPassword == 'invalid'"
                    v-bind:placement="'right'"
                    v-bind:auto-hide="false"
                    popoverClass="warning"
                    class="normal-input"
                    style="width:100%;">
                    <b-form-input
                      v-model="oldPassword"
                      v-bind:required="true"
                      v-bind:state="checkOldPassword"
                      placeholder="Old Password"
                      type="password"
                      style="
                        width:100%;
                        min-height: 30px;
                      "
                    >
                    </b-form-input>
                    <template slot="popover">
                      Password must contain at least eight characters: both lower and uppercase letters, at least one number, and at least one special character
                    </template>
                  </v-popover>
                </b-input-group>
                <img src="~@/assets/images/full-size-alert-icon.png" v-if="checkValidPassword == 'invalid' || checkPasswordMatch == 'invalid'" class="icon-in-input">
                <b-form-feedback><img src="~@/assets/images/full-size-alert-icon-white.png"> Password must contain at least eight characters: both lower and uppercase letters, at least one number, and at least one special character</b-form-feedback>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="mb-3">
            <b-col>
              New Password
              <b-form-group
                v-bind:state="checkValidPassword"
                style="width:100%;"
              >
                <b-input-group>
                  <v-popover
                    trigger="manual"
                    v-bind:open="checkValidPassword == 'invalid'"
                    v-bind:placement="'right'"
                    v-bind:auto-hide="false"
                    popoverClass="warning"
                    class="normal-input"
                    style="width:100%;">
                    <b-form-input
                      v-model="password"
                      v-bind:required="true"
                      v-bind:state="checkValidPassword"
                      placeholder="New Password"
                      type="password"
                      style="
                        width:100%;
                        min-height: 30px;
                      "
                    >
                    </b-form-input>
                    <template slot="popover">
                      Password must contain at least eight characters: both lower and uppercase letters, at least one number, and at least one special character
                    </template>
                  </v-popover>
                </b-input-group>
                <img src="~@/assets/images/full-size-alert-icon.png" v-if="checkValidPassword == 'invalid' || checkPasswordMatch == 'invalid'" class="icon-in-input">
                <b-form-feedback><img src="~@/assets/images/full-size-alert-icon-white.png"> Password must contain at least eight characters: both lower and uppercase letters, at least one number, and at least one special character</b-form-feedback>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="mb-3">
            <b-col>
              Confirm Password
              <b-form-group
                v-bind:state="checkPasswordMatch"
                style="width:100%;"
              >
                <b-input-group>
                  <v-popover
                    trigger="manual"
                    v-bind:open="checkPasswordMatch == 'invalid'"
                    v-bind:placement="'right'"
                    v-bind:auto-hide="false"
                    popoverClass="warning"
                    class="normal-input"
                    style="width:100%;">
                    <b-form-input
                      v-model="confirmPassword"
                      v-bind:required="true"
                      v-bind:state="checkPasswordMatch"
                      placeholder="Confirm Password"
                      type="password"
                      style="
                        width:100%;
                        min-height: 30px;
                      "
                    >
                    </b-form-input>
                    <template slot="popover">
                      The passwords you entered do not match
                    </template>
                  </v-popover>
                </b-input-group>
                <img src="~@/assets/images/full-size-alert-icon.png" v-if="checkPasswordMatch == 'invalid'" class="icon-in-input">
                <b-form-feedback><img src="~@/assets/images/full-size-alert-icon-white.png"> The passwords you entered do not match</b-form-feedback>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="mb-3">
            <b-col>
              <b-button
                size="lg"
                type="button"
                variant="success"
                v-bind:disabled="checkPasswordStates()"
                v-on:click="changePassword(oldPassword, password)"
              >
                Update Details
              </b-button>
            </b-col>
          </b-row>
        </b-col>
        <b-col v-if="!isEmailVerified" v-on:click="verifyEmail()">
          <b-row>
            <b-col>
              <b-button variant="warning" :disabled="!verifyResend">Resend Email Verification</b-button>
              <p class="pt-2 pl-4" v-if="remainingTime.length > 0">
                Resend in {{ remainingTime[0] }} mins {{ remainingTime[1] }} secs
              </p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>
  </div>
  <div class="verify">
    <b-card class="text-left">
      <h5>
        KYC Details
        <i class="sub-text d-block d-md-inline">
          All documents need to be uploaded before submission
        </i>
      </h5>
      <div class="notice text-left notify" v-if="kycSubmitted && !isKYCVerified">
        <h6 class="failure">
          KYC verification is pending
        </h6>
        <div class="remarks">
          <span class="failure">
            Your KYC details is being reviewed by our KYC partner
          </span>
        </div>
      </div>
      <div class="notice text-left notify" v-if="!kycSubmitted">
        <h6 class="failure">
          KYC verification not completed
        </h6>
        <div class="remarks">
          <span class="failure">
            Please submit your KYC details for verification
          </span>
        </div>
      </div>
      <!-- <div class="notice text-left notify" v-if="kycSubmitted && !isKYCVerified">
        <h6 class="pending">
          Account pending KYC approval
        </h6>
        <div class="remarks">
          <span class="failure">
            Please submit your KYC details for verification
          </span>
        </div>
      </div> -->

      <!-- Details -->

      <h5 class="mt-5">
        Details
        <i class="sub-text d-block d-md-inline">
          Please enter your personal details
        </i>
      </h5>
      <b-row class="mt-4">
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            First Name
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-input
                    v-model="firstName"
                    :disabled="kycSubmitted && !editing"
                    ref="firstName"
                    type="text"
                  >
              </b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Middle Name
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-input
                    v-model="middleName"
                    :disabled="kycSubmitted && !editing"
                    ref="middleName"
                    type="text"
                  >
              </b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Last Name
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-input
                    v-model="lastName"
                    :disabled="kycSubmitted && !editing"
                    ref="lastName"
                    type="text"
                  >
              </b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Birthday
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-input
                    v-model="birthday"
                    :disabled="kycSubmitted && !editing"
                    placeholder="Birthday"
                    ref="birthday"
                    type="date"
              >
              </b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Country of Birth
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-select
                v-model="birthCountry"
                :disabled="kycSubmitted && !editing"
                v-bind:options="fields.countries"
              >
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Nationality
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-select
                v-model="nationality"
                :disabled="kycSubmitted && !editing"
                v-bind:options="fields.nationalities"
              >
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Country of Residence
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-select
                v-model="residenceCountry"
                :disabled="kycSubmitted && !editing"
                v-bind:options="fields.countries"
              >
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Gender
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-select
                v-model="gender"
                :disabled="kycSubmitted && !editing"
                v-bind:options="fields.genders"
              >
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Address
          </p>
        </b-col>
        <b-col class="d-flex">
          <b-form-group class="align-self-center">
            <b-input-group>
              <b-form-input
                v-model="address"
                :disabled="kycSubmitted && !editing"
                placeholder="Address"
                ref="address"
                type="text"
              >
              </b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- Documents -->

      <h5 class="mt-5">
        Documents
        <i class="sub-text d-block d-md-inline">
          Please upload your identifying documentations
        </i>
      </h5>
      <b-row class="mt-4">
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Scan / Photo of ID / Passport
          </p>
        </b-col>
        <b-col class="d-flex">
          <div v-if="kycSubmitted" class="justify-content-center">
            <img :src="identificationImg" class="img-fluid m-3" alt="" style="max-height:100px;" v-if="identificationImg">
            <strong v-if="!identificationImg && !editing" class="m-3">
              No image uploaded
            </strong>
          </div>
          <b-form-group class="align-self-center" v-if="!identificationImg || editing">
            <b-input-group>
              <b-form-file
                accept="image/*"
                choose-label="Upload"
                v-model="identification"
                id="identification"
                @change="changedField">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Selfie Holding ID / Passport
          </p>
        </b-col>
        <b-col class="d-flex">
          <div v-if="kycSubmitted" class="justify-content-center">
            <img :src="selfieImg" class="img-fluid m-3" alt="" style="max-height:100px;" v-if="selfieImg">
            <strong v-if="!selfieImg && !editing" class="m-3">
              No image uploaded
            </strong>
          </div>
          <b-form-group class="align-self-center" v-if="!identificationImg || editing">
            <b-input-group>
              <b-form-file
                accept="image/*"
                choose-label="Upload"
                v-model="selfie"
                id="selfie"
                @change="changedField">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Proof of Residence
          </p>
        </b-col>
        <b-col class="d-flex">
          <div v-if="kycSubmitted" class="justify-content-center">
            <img :src="residenceImg" class="img-fluid m-3" alt="" style="max-height:100px;" v-if="residenceImg">
            <strong v-if="!residenceImg && !editing" class="m-3">
              No image uploaded
            </strong>
          </div>
          <b-form-group class="align-self-center" v-if="!identificationImg || editing">
            <b-input-group>
              <b-form-file
                accept="image/*"
                choose-label="Upload"
                v-model="residence"
                id="residence"
                @change="changedField">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- Notices & Agreements -->

      <h5 class="mt-5">
        Notices & Agreements
        <i class="sub-text d-block d-md-inline">
          Please download, read and sign these forms
        </i>
      </h5>
      <b-row class="mt-4">
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Token Sale Agreement
            <b-link class="pl-2 align-self-end" href="">
              <img src="~@/assets/images/mobile-download-icon.png" alt="">
            </b-link>
          </p>
        </b-col>
        <b-col class="d-flex">
          <div v-if="kycSubmitted" class="justify-content-center">
            <img :src="signedformTSAImg" class="img-fluid m-3" alt="" style="max-height:100px;" v-if="signedformTSAImg">
            <strong v-if="!signedformTSAImg && !editing" class="m-3">
              No image uploaded
            </strong>
          </div>
          <b-form-group class="align-self-center" v-if="!identificationImg || editing">
            <b-input-group>
              <b-form-file
                accept="image/*"
                choose-label="Upload"
                v-model="signedformTSA"
                id="signedformTSA"
                @change="changedField">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Product Information Notice
            <b-link class="pl-2 align-self-end" href="">
              <img src="~@/assets/images/mobile-download-icon.png" alt="">
            </b-link>
          </p>
        </b-col>
        <b-col class="d-flex">
          <div v-if="kycSubmitted" class="justify-content-center">
            <img :src="signedformPINImg" class="img-fluid m-3" alt="" style="max-height:100px;" v-if="signedformPINImg">
            <strong v-if="!signedformPINImg && !editing" class="m-3">
              No image uploaded
            </strong>
          </div>
          <b-form-group class="align-self-center" v-if="!identificationImg || editing">
            <b-input-group>
              <b-form-file
                accept="image/*"
                choose-label="Upload"
                v-model="signedformPIN"
                id="signedformPIN"
                @change="changedField">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Consumer Information Notice
            <b-link class="pl-2 align-self-end" href="">
              <img src="~@/assets/images/mobile-download-icon.png" alt="">
            </b-link>
          </p>
        </b-col>
        <b-col class="d-flex">
          <div v-if="kycSubmitted" class="justify-content-center">
            <img :src="signedformCINImg" class="img-fluid m-3" alt="" style="max-height:100px;" v-if="signedformCINImg">
            <strong v-if="!signedformCINImg && !editing" class="m-3">
              No image uploaded
            </strong>
          </div>
          <b-form-group class="align-self-center" v-if="!identificationImg || editing">
            <b-input-group>
              <b-form-file
                accept="image/*"
                choose-label="Upload"
                v-model="signedformCIN"
                id="signedformCIN"
                @change="changedField">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12" sm="6" xl="4" class="d-flex">
          <p class="align-self-center">
            <StatusIcon :status= "isKYCVerified ? 'success' : 'pending'"/>
            Privacy Policy
            <b-link class="pl-2 align-self-end" href="">
              <img src="~@/assets/images/mobile-download-icon.png" alt="">
            </b-link>
          </p>
        </b-col>
        <b-col class="d-flex">
          <div v-if="kycSubmitted" class="justify-content-center">
            <img :src="signedformPPImg" class="img-fluid m-3" alt="" style="max-height:100px;" v-if="signedformPPImg">
            <strong v-if="!signedformPPImg && !editing" class="m-3">
              No image uploaded
            </strong>
          </div>
          <b-form-group class="align-self-center" v-if="!identificationImg || editing">
            <b-input-group>
              <b-form-file
                accept="image/*"
                choose-label="Upload"
                v-model="signedformPP"
                id="signedformPP"
                @change="changedField">
              </b-form-file>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- ETH Address -->

      <h5 class="mt-5">
        Your ETH Address
      </h5>
      <p class="mb-3 word-break-all">
        <b-form-input
          v-model="ethAddress"
          placeholder="0x0"
          ref="ethAddress"
          type="text"
          :disabled="kycSubmitted && !editing"
        >
        </b-form-input>
      </p>

      <!-- v-bind:disabled="checkKYCStates()" -->
      <b-button
        class="mt-5"
        variant="success"
        v-on:click="submit({
                            firstName,
                            middleName,
                            lastName,
                            birthday,
                            birthCountry,
                            nationality,
                            residenceCountry,
                            gender,
                            address,
                            identification,
                            selfie,
                            residence,
                            signedformTSA,
                            signedformPIN,
                            signedformCIN,
                            signedformPP,
                            ethAddress,
                          })"
        v-bind:disabled="canSubmit"
        v-if="!kycSubmitted ||  editing"
      >
        Submit for KYC Verification
      </b-button>
      <b-button
        class="mt-5"
        variant="warning"
        v-on:click="editing = true"
        v-if="kycSubmitted && !editing"
      >
        Edit KYC Details
      </b-button>
      <b-button
        class="mt-5"
        variant="link"
        v-on:click="editing = false"
        v-if="editing"
      >
        Cancel Editing
      </b-button>
    </b-card>
  </div>
</div>
