<div class="row justify-content-center mt-1 mb-3 align-items-center social-row">
  <span>
    Need help?
  </span>
  <!-- Rocketchat -->
  <a href="https://chat.crowdvilla.io/">
    <img src="~@/assets/images/full-size-login-rocketchat-icon.png">
  </a>
  <!-- Reddit -->
  <a href="https://reddit.com/r/crowdvilla" target="_blank">
    <img src="~@/assets/images/full-size-login-reddit-icon.png">
  </a>
  <!-- Telegram -->
  <a href="https://t.me/reidao" target="_blank">
    <img src="~@/assets/images/full-size-login-telegram-icon.png">
  </a>
  <!-- Medium -->
  <a href="https://medium.com/@crowdvilla" target="_blank">
    <img src="~@/assets/images/full-size-login-medium-icon.png">
  </a>
  <!-- Github -->
  <a href="https://github.com/reidao" target="_blank">
    <img src="~@/assets/images/full-size-login-github-icon.png">
  </a>
  <!-- Facebook -->
  <a href="https://www.facebook.com/crowdvillaio/" target="_blank">
    <img src="~@/assets/images/full-size-login-fb-icon.png">
  </a>
  <!-- Twitter -->
  <a href="https://twitter.com/crowdvillaio" target="_blank">
    <img src="~@/assets/images/full-size-login-twitter-icon.png">
  </a>
  <!-- Pinterest -->
  <a href="https://www.pinterest.com/crowdvilla/" target="_blank">
    <img src="~@/assets/images/full-size-login-pinterest-icon.png">
  </a>
  <!-- Instagram -->
  <a href="https://www.instagram.com/crowdvillaio/" target="_blank">
    <img src="~@/assets/images/full-size-login-instagram-icon.png">
  </a>
</div>










