<div class="profile">
  <b-card class="text-left">
    <h5>
      Profile Details
    </h5>
    <b-container>
      <b-row class="mt-4">
        <b-col cols="6">
          <b-row class="mb-3">
            <b-col>
              First Name
              <b-form-group
                v-bind:feedback="feedbackName(checkValidFName)"
                v-bind:state="checkValidFName"
              >
                <b-input-group>
                  <b-form-input
                    v-model="firstName"
                    v-bind:state="checkValidFName"
                    placeholder="First Name"
                    ref="firstName"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col>
              Last Name
              <b-form-input v-model="lastName" type="text"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="mb-3">
            <b-col>
              Email Address
              <b-form-input type="email"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="mb-3">
            <b-col>
              Password
              <b-form-input type="password"></b-form-input>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="6">
          <b-row class="mb-3">
            <b-col>
              Date of Birth
              <b-form-input v-model="birthday" type="date"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              Country
              <b-form-select :options="countries">
              </b-form-select>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button variant="success">Save Details</b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </b-card>
</div>
