<div class="profile">
  <b-card no-body>
    <b-tabs class="nav-justified">
      <b-tab title="Profile">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h6>Profile Details</h6>
            </div>
            <div class="col-12">
              <i
                class="fa fa-user input-group-addon"
                slot="left"
              />
              <span>
                <b>First Name: </b>
              </span>
            </div>
            <div class="col-12">
              <i
                class="fa fa-user input-group-addon"
                slot="left"
              />
              <span>
                <b>Middle Name: </b>
              </span>
            </div>
            <div class="col-12">
              <i
                class="fa fa-user input-group-addon"
                slot="left"
              />
              <span>
                <b>Last Name: </b>
              </span>
            </div>
          </div>
          <div class="row justify-content-center">
            <b-button
              size="lg"
              variant="primary"
              type="button"
            >
              Update
            </b-button>
          </div>
          <div class="row justify-content-center">
            <h6>Need help? <a href="#">support@reidao.io</a></h6>
          </div>
        </div>
      </b-tab>
    </b-tabs>
  </b-card>
</div>
