<div class="kyc">
  <b-card no-body>
    <b-tabs class="nav-justified">
      <b-tab title="KYC">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h6>Enter details</h6>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-input
                    placeholder="Fist Name"
                  >
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-input
                    placeholder="Last Name"
                  >
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-input
                    placeholder="Birthday"
                  >
                  </b-form-input>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-file
                    choose-label="Identification"
                  >
                  </b-form-file>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-file
                    choose-label="Selfie"
                  >
                  </b-form-file>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-file
                    choose-label="Address"
                  >
                  </b-form-file>
                </b-input-group>
              </b-form-group>
            </div>
            <div class="col-12">
              <b-form-group>
                <b-input-group>
                  <i
                    class="fa fa-user input-group-addon"
                    slot="left"
                  />
                  <b-form-file
                    choose-label="Signed Form"
                  >
                  </b-form-file>
                </b-input-group>
              </b-form-group>
            </div>
          </div>
          <div class="row justify-content-center">
            <b-button size="lg" variant="primary" type="button">
              Submit
            </b-button>
          </div>
          <div class="row justify-content-center">
            <h6>Need help? <a href="#">support@reidao.io</a></h6>
          </div>
        </div>
      </b-tab>
    </b-tabs>
  </b-card>
</div>
